
<h1 class="govuk-heading-l">
    Gov.UK Design System in C#/ASP.Net
</h1>

<ul class="govuk-list govuk-list--spaced">
    <li>
        <a href="@(Url.Action("Index", "Components"))"
           class="govuk-link">
            Components
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Index", "InteractiveComponents"))"
           class="govuk-link">
            Interactive components
        </a>
    </li>
</ul>
