@using GovUkDesignSystemDotNet
@model GovUkDesignSystemDotNetDemo.Models.InteractiveComponentsExamples.ErrorSummaryIfNeededExampleDefaultViewModel

@{
    Layout = "_LayoutForExamples";
}

<form method="post">
    @await Html.GovUkErrorSummaryIfNeeded([
        nameof(Model.FirstName),
        nameof(Model.LastName),
    ])
    
    @await Html.GovUkFieldset(new FieldsetViewModel
    {
        Legend = new FieldsetLegendViewModel
        {
            HtmlOrText = new HtmlOrText("Enter your name"),
            IsPageHeading = true,
            Classes = ["govuk-fieldset__legend--l"]
        },
        HtmlOrText = new HtmlOrText(
            @<text>
                 @await Html.GovUkTextInputFor(
                     m => m.FirstName,
                     new TextInputViewModel
                     {
                         Label = new LabelViewModel
                         {
                             HtmlOrText = new HtmlOrText("First name")
                         }
                     })

                 @await Html.GovUkTextInputFor(
                     m => m.LastName,
                     new TextInputViewModel
                     {
                         Label = new LabelViewModel
                         {
                             HtmlOrText = new HtmlOrText("Last name")
                         }
                     })
             </text>)
    })

    @await Html.GovUkButton(new ButtonViewModel
    {
        HtmlOrText = new HtmlOrText("Validate")
    })
</form>
