@using GovUkDesignSystemDotNet

<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">

<head>
    <meta charset="utf-8">
    <title>
        @(!string.IsNullOrWhiteSpace(ViewBag.Title) ? $"{ViewBag.Title} - " : "")
        C#/.Net library for Gov.UK Design System
        - GOV.UK
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#1d70b8">
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8">
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/rebrand/manifest.json">
    <meta property="og:image" content="<SERVICE URL>/assets/rebrand/images/govuk-opengraph-image.png">
    <link rel="stylesheet" href="/stylesheets/govuk-frontend-5.10.2.min.css">
    <style>
        code {
            font-family: ui-monospace,menlo,"Cascadia Mono","Segoe UI Mono",consolas,"Liberation Mono",monospace;
            background-color: #f3f2f1;
            line-height: 1.25;
            color: #003078;
        }
        td code {
            color: #d13118;
            padding: 2px 4px;
            font-size: 1rem;
        }
        caption code, h3 code {
            color: #d13118;
            padding: 2px 4px;
        }

        .example-box {
            border: 1px solid #b1b4b6;
            margin-bottom: 40px;
        }
        .example-box div {
            border-bottom: 1px solid #b1b4b6;
        }
        .example-box div:last-child {
            border-bottom: none;
        }
        .example-box .example-box-link {
            padding: 10px;
        }
        .example-box .example-box-example iframe {
            border: 0;
            width: 100%;
        }
        .example-box .example-box-code {
            padding: 10px;
        }
        .example-box .example-box-code pre {
            margin: 0;
        }
        .example-box .example-box-code pre code {
            display: block;
            overflow-x: auto;
            padding: 20px;
            font-size: 16px;
            background-color: #f3f2f1;
        }
    </style>
    <script>
        function resizeExampleIFrame(iframeElement) {
            const iframeBody = iframeElement.contentWindow.document.documentElement.querySelector('body');
            
            function doResize(iframeElement) {
                console.log('Resizing iframe', iframeElement);
                const innerContentHeight = iframeBody.scrollHeight;
                console.log(`New size ${innerContentHeight}px`, iframeElement);
                iframeElement.style.height = innerContentHeight + 'px';
                console.log('Resized iframe', iframeElement);
            }
            
            doResize(iframeElement);

            new ResizeObserver(() => doResize(iframeElement)).observe(iframeBody)
        }
    </script>
</head>

<body class="govuk-template__body">
    <script>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    @await Html.GovUkHeader(new HeaderViewModel
    {
        HomepageUrl = "https://gov.uk"
    })

    <div class="govuk-width-container">
        @(RenderSection("BeforeMain", false))
        
        <main class="govuk-main-wrapper" id="main-content">
            @RenderBody()
        </main>
    </div>
    
    @await Html.GovUkFooter(new FooterViewModel())

    <script type="module" src="/javascripts/govuk-frontend-5.10.2.min.js"></script>
    <script type="module">
        import {
            initAll
        } from '/javascripts/govuk-frontend-5.10.2.min.js'
        initAll()
    </script>
</body>

</html>