@using GovUkDesignSystemDotNet

@{
    Layout = "_LayoutForExamples";
}

@await Html.GovUkFooter(new FooterViewModel
{
    NavigationSections = new List<FooterNavigationSectionViewModel>
    {
        new FooterNavigationSectionViewModel
        {
            Title = "Services and information",
            Width = "two-thirds",
            Columns = 2,
            Items = new List<FooterItemViewModel>
            {
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Benefits"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Births, deaths, marriages and care"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Business and self-employed"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Childcare and parenting"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Citizenship and living in the UK"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Crime, justice and the law"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Disabled people"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Driving and transport"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Education and learning"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Employing people"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Environment and countryside"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Housing and local services"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Money and tax"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Passports, travel and living abroad"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Visas and immigration"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Working, jobs and pensions"
                },
            }
        },
        new FooterNavigationSectionViewModel
        {
            Title = "Departments and policy",
            Width = "one-third",
            Columns = 1,
            Items = new List<FooterItemViewModel>
            {
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "How government works"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Departments"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Worldwide"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Policies"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Publications"
                },
                new FooterItemViewModel
                {
                    Href = "#",
                    Text = "Announcements"
                },
            }
        },
    },
    Meta = new FooterMetaViewModel
    {
        Items = new List<FooterItemViewModel>
        {
            new FooterItemViewModel
            {
                Href = "#",
                Text = "Help"
            },
            new FooterItemViewModel
            {
                Href = "#",
                Text = "Cookies"
            },
            new FooterItemViewModel
            {
                Href = "#",
                Text = "Contact"
            },
            new FooterItemViewModel
            {
                Href = "#",
                Text = "Terms and conditions"
            },
            new FooterItemViewModel
            {
                Href = "#",
                Text = "Rhestr o Wasanaethau Cymraeg"
            },
        },
        HtmlOrText = new HtmlOrText(@<text>
                                         Built by the
                                         <a href="#"
                                            class="govuk-footer__link">
                                             Government Digital Service
                                         </a>
                                     </text>)
    }
})
