@using GovUkDesignSystemDotNet

@{
    ViewBag.Title = "Components";
}

@section BeforeMain
{
    @await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                HtmlOrText = new HtmlOrText("Home"),
                Href = Url.Action("Index", "Home")
            },
            new CrumbViewModel
            {
                HtmlOrText = new HtmlOrText("Components"),
            },
        }
    })
}

<h1 class="govuk-heading-l">
    Components
</h1>

<p class="govuk-body">
    Read more about
    <a href="https://design-system.service.gov.uk/components/"
       class="govuk-link">
        <b>
            components
        </b>
        on the Gov.UK Design System website
    </a>
</p>

<ul class="govuk-list govuk-list--spaced">
    <li>
        <a href="@(Url.Action("BackLink", "Components"))"
           class="govuk-link">
            Back link
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Button", "Components"))"
           class="govuk-link">
            Button
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Breadcrumbs", "Components"))"
           class="govuk-link">
            Breadcrumbs
        </a>
    </li>
</ul>
