@using GovUkDesignSystemDotNet
@using GovUkDesignSystemDotNetDemo.Models

@{
    ViewBag.Title = "Tag";
}

@section BeforeMain
{
    @await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
        {
            Crumbs = new List<CrumbViewModel>
            {
                new CrumbViewModel
                {
                    HtmlOrText = new HtmlOrText("Home"),
                    Href = Url.Action("Index", "Home")
                },
                new CrumbViewModel
                {
                    HtmlOrText = new HtmlOrText("Components"),
                    Href = Url.Action("Index", "Components")
                },
                new CrumbViewModel
                {
                    HtmlOrText = new HtmlOrText("Tag"),
                },
            }
        })
}

<h1 class="govuk-heading-xl">
    Tag
</h1>

<p class="govuk-body govuk-!-margin-bottom-6">
    Read more about the
    <a href="https://design-system.service.gov.uk/components/tag/"
       class="govuk-link">
        <b>tag</b>
        component on the Gov.UK Design System website
    </a>
</p>

@(await Html.PartialAsync("../Shared/Example", new ExampleViewModel
{
    ExampleName = "TagExampleDefault",
    Code = @"
        @using GovUkDesignSystemDotNet

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""Completed"")
        })
    "
}))

<h2 class="govuk-heading-l">
    Options
</h2>

<table class="govuk-table govuk-!-margin-bottom-8"
       id="options-for-TagViewModel">
    <caption class="govuk-table__caption govuk-table__caption--m">
        Options for <code>TagViewModel</code>
    </caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Description</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
                HtmlOrText
            </th>
            <td class="govuk-table__cell">
                HtmlOrText
            </td>
            <td class="govuk-table__cell">
                <b>Required.</b>
                HTML or text to use within the tag component.
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
                Classes
            </th>
            <td class="govuk-table__cell">
                List&lt;string&gt;
            </td>
            <td class="govuk-table__cell">
                Classes to add to the tag.
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
                Attributes
            </th>
            <td class="govuk-table__cell">
                Dictionary&lt;string, string&gt;
            </td>
            <td class="govuk-table__cell">
                HTML attributes (for example, data attributes) to add to the tag.
            </td>
        </tr>
    </tbody>
</table>

<h2 class="govuk-heading-l">
    Examples
</h2>

<h3 class="govuk-heading-m">
    Using colour with tags
</h3>

@(await Html.PartialAsync("../Shared/Example", new ExampleViewModel
{
    ExampleName = "TagExampleWithColours",
    Code = @"
        @using GovUkDesignSystemDotNet

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--grey""),
            Classes = [""govuk-tag--grey""],
        })

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--green""),
            Classes = [""govuk-tag--green""],
        })

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--turquoise""),
            Classes = [""govuk-tag--turquoise""],
        })

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--blue""),
            Classes = [""govuk-tag--blue""],
        })

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--light-blue""),
            Classes = [""govuk-tag--light-blue""],
        })

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--purple""),
            Classes = [""govuk-tag--purple""],
        })

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--pink""),
            Classes = [""govuk-tag--pink""],
        })

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--red""),
            Classes = [""govuk-tag--red""],
        })

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--orange""),
            Classes = [""govuk-tag--orange""],
        })

        @await Html.GovUkTag(new TagViewModel
        {
            HtmlOrText = new HtmlOrText(""This uses govuk-tag--yellow""),
            Classes = [""govuk-tag--yellow""],
        })
    "
}))
